
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <script src="~/Forum/js/jquery-1.8.3.min.js"></script>
    <script src="~/Forum/js/tiezi.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Forum/css/public.css" />
    <link rel="stylesheet" href="~/Forum/css/reset.css" />
    <link rel="stylesheet" href="~/Forum/css/index.css" />
</head>
<body>
    <header class="ltHead">
        <div class="ltHead_cen">
            <a href=""><img src="~/img/logo.png" alt="" class="headPic1" /></a>
            <ul class="headNav">
                <li><a href="">首页</a></li>
            </ul>
            <!--未登入开始-->
            <div class="ltForm">
                <a href=""></a>
                <ul>
                    <li><a href="">登入</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
            <!-- 未登入结束-->
            <!-- 登入开始，未登入时以下隐藏-->
            <!--<div class="lt_login">-->
            <!--<ul>-->
            <!--<li><a href="">花开花落</a></li>-->
            <!--<li><a href="">退出</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- 登入结束-->
        </div>
    </header>
    <div class="indexMain">
        <div class="indexMain_left">
            <div class="tzCon" id="myInv">
                
            </div>
            <div class="newPending" id="newPending">
                <div class="newPending_head">
                    <div class="tzHeng"></div>
                    <div class="newPending_head_tittle">最新评论(@ViewBag.leng)</div>
                </div>
                <!--楼主可以删除评论、自己可以删除自己的评论删除按钮酌情出现-->
             
                <!--回复后的情况-->


   </div>
            <div class="indexFooter">
                <div class="indexFooter_con">
                    <a href="javascript:"><</a>
                    <a href="" class="on">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="javascript:">></a>
                </div>
            </div>
            <div class="writePending">
                <div class="newPending_head">
                    <div class="tzHeng"></div>
                    <div class="newPending_head_tittle">评论</div>
                </div>
                <div class="writePending_con">
                    <input type="text" placeholder="写下你的评论..." />
                    <input type="submit" value="评论" />
                </div>
            </div>
        </div>
        <div class="indexMain_right">
            <a href="" class="newMsg">发新帖</a>
            <div class="myMsg">
                <div class="myMsg_con">
                    <div class="myMsg_conPic"></div>
                    <p>花开花落</p>
                </div>
                <div class="myMsg_footer">
                    <ul>
                        <li>
                            <a href="">
                                <p>主题数</p>
                                <p>23</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>精华数</p>
                                <p>23</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>注册排名</p>
                                <p>23</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="indexSearch">
                <input type="text" placeholder="请输入关键词" />
                <input type="submit" value="搜索" />
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">
                    本周热议
                </div>
                <div class="indexPublic_con">
                    <ul class="weekHot">
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                        <li><a href="">关注上海车牌竞拍方面的资讯</a><span>29</span></li>
                    </ul>
                </div>
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">
                    友情链接
                </div>
                <div class="indexPublic_con">
                    <ul class="indexLink">
                        <li><a href="">拍王淘宝链接</a></li>
                        <li><a href="">拍王网站</a></li>
                        <li><a href="">拍王助手</a></li>
                        <li><a href="">沪牌模拟</a></li>
                        <li><a href="">拍王合作咨询</a></li>
                        <li><a href="">快法务</a></li>
                        <li><a href="">国拍网</a></li>
                    </ul>
                </div>
            </div>
            <div class="indexWxpublic">
                <p>关注微信公众号</p>
            </div>
            
        </div>
        <div class="clear"></div>
        
    </div>
    <footer class="publicFooter">
        <p>Copyrigh &copy; 2017-2018 PaiWang 上海钦合投资管理有限公司版权所有 沪ICP备16032224号-2</p>
    </footer>
</body>
</html>
<script>
    $(function () {
        var stu = window.location.search;
        var aguId = stu.substr(1, stu.length);
        $.ajax({
            url: "/ForumDemo/GetGuInvitation",
            data: { "guId": aguId },
            type: "post",
            success: e=> {
                var f = JSON.parse(e)
                for (var i = 0; i < f.length; i++) {
                    $("#myInv").append('<div class="tzCon_head">' +
               '<div class="tzCon_head_left"></div>' +
                    '<div class="tzCon_head_right">' +
                    '<h1>' + f[i].Inv_Tittle + '</h1>' +
                   ' <ul>' +
                        '<li>' + f[i].User_Name + '</li>' +
                        '<li>' + f[i].Inv_CreateTime + '</li>' +
                        '<li>21</li>' +
                    '</ul>' +
               ' </div>' +
               ' <div class="clear"></div>' +
            '</div>' +
            '<div class="tzCon_con">' +
               f[i].Inv_Body +
            '</div>' +
            '<div class="tzCon_foot">' +
                '<div class="tzCollect">' +
                    '<div class="tzCollect_left">收藏</div>' +
                    '<div class="tzCollect_right">131</div>' +
                '</div>' +
            '</div>')
                }
            }
        })
        $.ajax({
            url: "/ForumDemo/GetComment",
            data: { "guId": aguId },
            type: "post",
            success: s=> {
                s = JSON.parse(s);
                for (var i = 0; i < s.length; i++) {
                    $("#newPending").append('<div class="newPending_son">' +
            '<div class="pendPic"></div>' +
            '<div class="pendDetail">' +
                '<div class="pendDetail_head">' +
                    '<p>' + s[i].User_Name + ' <span>' + s[i].Com_CreateTime + '</span></p>' +
                    '<i>n楼</i>' +
                '</div>' +
                '<div class="pendDetail_con">' +
                    '<p>' + s[i].Com_Body + '</p>' +
                '</div>' +
                '<div class="pendDetail_btn">' +
                    '<ul>' +
                        '<li>361</li>' +
                        '<li id="' + s[i].Com_GuId + '" class="replayBtn">278</li>' +
                        '<li class="delateBtn">删除</li>' +
                    '</ul>' +
                '</div>' +
                '<div class="pendDetail_action">' +
                    '<input type="text" value="回复[' + s[i].User_Name + ']:"/>' +
                    '<button>评论</button>' +
                    '<button>取消</button>' +
                '</div>' +
            '</div>' +
            '<div class="clear"></div>' +
        '</div>'
                    )
                    $("#" + s[i].Com_GuId).on("click", function () {
                        alert("点击事件成功！")
                        $(".pendDetail_action").hide();
                        $(this).parent().parent().next(".pendDetail_action").show();
                    })
                }
            }
        })
    })
</script>